<header class="banner-home">
  <img
    src="/images/capacitacion2016-principal.jpg"
    alt="Banner Catalogos UNIC"
    class="img-fluid w-100"
  />

  <!-- contenedor para overlay + texto -->
  <div class="banner-text-container modifiedbanner">
    <!-- fondo semitransparente -->
    <div class="banner-overlay"></div>

    <div class="banner-text">
      <h1 class="lh-base">
        Programas de <span class="highlight">capacitación</span> con
        <span class="highlight">Inteligencia Artificial</span>
      </h1>
    </div>
  </div>
</header>
