<header class="banner-home">
  <img
    src="/images/banner-generico.jpg"
    alt="Banner Home UNIC"
    class="img-fluid w-100"
  />

  <!-- contenedor para overlay + texto -->
  <div class="banner-text-container">
    <!-- fondo semitransparente -->
    <div class="banner-overlay"></div>

    <div class="banner-text">
      <h1 class="lh-base">
        Universidad para la <span class="highlight">innovación</span> y la
        <span class="highlight">cultura</span>
      </h1>
    </div>
  </div>
</header>
