<h2 class="fw-bold pt-2 mb-4 text-center" style="color: rgba(35, 63, 134, 1)">
  CAPACITACIONES
</h2>

<!-- ——— CONTENEDOR FLEX ——— -->
<div class="capacitaciones-flex">
  <!-- TARJETA 1 -->
  <div
    class="cap-card"
    data-bs-toggle="modal"
    data-bs-target="#cap1Modal"
    style="cursor: pointer"
  >
    <div class="cap-card__media">
      <img
        src="/images/img-modal.jpg"
        alt="Diseño universal del aprendizaje"
        class="cap-card__img"
      />
    </div>
    <div class="cap-card__body">
      <h5>Diseño universal del aprendizaje</h5>
      <p>
        Explora estrategias para crear entornos educativos que sean accesibles y
        efectivos para todo tipo de estudiante, sin importar sus necesidades.
      </p>
    </div>
    <div class="cap-card__footer">
      <span class="d-block text-center text-white fw-bold py-2">
        Ver más »
      </span>
    </div>
  </div>

  <!-- TARJETA 2 -->
  <div
    class="cap-card"
    data-bs-toggle="modal"
    data-bs-target="#cap2Modal"
    style="cursor: pointer"
  >
    <div class="cap-card__media">
      <img
        src="/images/sideview-groupmates.jpg"
        alt="Educación intercultural"
        class="cap-card__img"
      />
    </div>
    <div class="cap-card__body">
      <h5>Educación intercultural</h5>
      <p>
        Conoce metodologías para incorporar diversas culturas en el aula y
        fomentar el respeto y la inclusión de todas las identidades.
      </p>
    </div>
    <div class="cap-card__footer">
      <span class="d-block text-center text-white fw-bold py-2">
        Ver más »
      </span>
    </div>
  </div>

  <!-- TARJETA 3 -->
  <div
    class="cap-card"
    data-bs-toggle="modal"
    data-bs-target="#cap3Modal"
    style="cursor: pointer"
  >
    <div class="cap-card__media">
      <img
        src="/images/preschool-teacher-reading-children.jpg"
        alt="El aprendizaje en preescolar"
        class="cap-card__img"
      />
    </div>
    <div class="cap-card__body">
      <h5>El aprendizaje en preescolar</h5>
      <p>
        Descubre actividades y dinámicas para potenciar el desarrollo cognitivo
        y social en los primeros años de educación.
      </p>
    </div>
    <div class="cap-card__footer">
      <span class="d-block text-center text-white fw-bold py-2">
        Ver más »
      </span>
    </div>
  </div>

  <!-- TARJETA 4 -->
  <div
    class="cap-card"
    data-bs-toggle="modal"
    data-bs-target="#cap4Modal"
    style="cursor: pointer"
  >
    <div class="cap-card__media">
      <img
        src="/images/gestionapr.jpg"
        alt="Gestión del aprendizaje"
        class="cap-card__img"
      />
    </div>
    <div class="cap-card__body">
      <h5>Gestión del aprendizaje en modalidades híbridas</h5>
      <p>"Texto Explicativo"</p>
    </div>
    <div class="cap-card__footer">
      <span class="d-block text-center text-white fw-bold py-2">
        Ver más »
      </span>
    </div>
  </div>

  <!-- TARJETA 5 -->
  <div
    class="cap-card"
    data-bs-toggle="modal"
    data-bs-target="#cap5Modal"
    style="cursor: pointer"
  >
    <div class="cap-card__media">
      <img
        src="/images/innov.jpg"
        alt="Innovación en la enseñanza"
        class="cap-card__img"
      />
    </div>
    <div class="cap-card__body">
      <h5>
        Innovación en la enseñanza para abordar la diversidad cultural, igualdad
        de género y fomentar la colaboración
      </h5>
      <p>"Texto Explicativo"</p>
    </div>
    <div class="cap-card__footer">
      <span class="d-block text-center text-white fw-bold py-2">
        Ver más »
      </span>
    </div>
  </div>

  <!-- TARJETA 6 -->
  <div
    class="cap-card"
    data-bs-toggle="modal"
    data-bs-target="#cap6Modal"
    style="cursor: pointer"
  >
    <div class="cap-card__media">
      <img
        src="/images/integrequidad.jpg"
        alt="Integración de la equidad"
        class="cap-card__img"
      />
    </div>
    <div class="cap-card__body">
      <h5>
        Integración de la equidad de género en la práctica docente y procesos de
        enseñanza
      </h5>
      <p>"Texto Explicativo"</p>
    </div>
    <div class="cap-card__footer">
      <span class="d-block text-center text-white fw-bold py-2">
        Ver más »
      </span>
    </div>
  </div>

  <!-- TARJETA 7 -->
  <div
    class="cap-card"
    data-bs-toggle="modal"
    data-bs-target="#cap7Modal"
    style="cursor: pointer"
  >
    <div class="cap-card__media">
      <img
        src="/images/practicadocente.jpg"
        alt="Práctica docente"
        class="cap-card__img"
      />
    </div>
    <div class="cap-card__body">
      <h5>
        Práctica docente en la scuela multigrado para la atención a la
        diversidad
      </h5>
      <p>"Texto Explicativo"</p>
    </div>
    <div class="cap-card__footer">
      <span class="d-block text-center text-white fw-bold py-2">
        Ver más »
      </span>
    </div>
  </div>

  <!-- TARJETA 8 -->
  <div
    class="cap-card"
    data-bs-toggle="modal"
    data-bs-target="#cap8Modal"
    style="cursor: pointer"
  >
    <div class="cap-card__media">
      <img
        src="/images/servpublicos.jpg"
        alt="Conducirnos como serv. públicos"
        class="cap-card__img"
      />
    </div>
    <div class="cap-card__body">
      <h5>¿Cómo conducirnos como servidores públicos?</h5>
      <p>"Texto Explicativo"</p>
    </div>
    <div class="cap-card__footer">
      <span class="d-block text-center text-white fw-bold py-2">
        Ver más »
      </span>
    </div>
  </div>

  <!-- TARJETA 9 -->
  <div
    class="cap-card"
    data-bs-toggle="modal"
    data-bs-target="#cap9Modal"
    style="cursor: pointer"
  >
    <div class="cap-card__media">
      <img
        src="/images/admintiempo.webp"
        alt="Adminitración del tiempo"
        class="cap-card__img"
      />
    </div>
    <div class="cap-card__body">
      <h5>Adminitración del tiempo</h5>
      <p>"Texto Explicativo"</p>
    </div>
    <div class="cap-card__footer">
      <span class="d-block text-center text-white fw-bold py-2">
        Ver más »
      </span>
    </div>
  </div>

  <!-- TARJETA 10 -->
  <div
    class="cap-card"
    data-bs-toggle="modal"
    data-bs-target="#cap10Modal"
    style="cursor: pointer"
  >
    <div class="cap-card__media">
      <img
        src="/images/atencionciudadana.jpg"
        alt="Atención y servicio a la ciudadanía"
        class="cap-card__img"
      />
    </div>
    <div class="cap-card__body">
      <h5>Atención y servicio a la ciudadanía</h5>
      <p>"Texto Explicativo"</p>
    </div>
    <div class="cap-card__footer">
      <span class="d-block text-center text-white fw-bold py-2">
        Ver más »
      </span>
    </div>
  </div>

  <!-- TARJETA 11 -->
  <div
    class="cap-card"
    data-bs-toggle="modal"
    data-bs-target="#cap11Modal"
    style="cursor: pointer"
  >
    <div class="cap-card__media">
      <img
        src="/images/climaycultura.jpg"
        alt="Clima y Cultura Organizacional"
        class="cap-card__img"
      />
    </div>
    <div class="cap-card__body">
      <h5>Clima y Cultura Organizacional</h5>
      <p>"Texto Explicativo"</p>
    </div>
    <div class="cap-card__footer">
      <span class="d-block text-center text-white fw-bold py-2">
        Ver más »
      </span>
    </div>
  </div>

  <!-- TARJETA 12 -->
  <div
    class="cap-card"
    data-bs-toggle="modal"
    data-bs-target="#cap12Modal"
    style="cursor: pointer"
  >
    <div class="cap-card__media">
      <img
        src="/images/desarrgerencial.jpg"
        alt="Desarrollo de habilidades gerenciales"
        class="cap-card__img"
      />
    </div>
    <div class="cap-card__body">
      <h5>Desarrollo de habilidades gerenciales</h5>
      <p>"Texto Explicativo"</p>
    </div>
    <div class="cap-card__footer">
      <span class="d-block text-center text-white fw-bold py-2">
        Ver más »
      </span>
    </div>
  </div>

  <!-- TARJETA 13 -->
  <div
    class="cap-card"
    data-bs-toggle="modal"
    data-bs-target="#cap13Modal"
    style="cursor: pointer"
  >
    <div class="cap-card__media">
      <img
        src="/images/estres.jpg"
        alt="Estrés laboral y salud mental"
        class="cap-card__img"
      />
    </div>
    <div class="cap-card__body">
      <h5>Estrés laboral y salud mental</h5>
      <p>"Texto Explicativo"</p>
    </div>
    <div class="cap-card__footer">
      <span class="d-block text-center text-white fw-bold py-2">
        Ver más »
      </span>
    </div>
  </div>

  <!-- TARJETA 14 -->
  <div
    class="cap-card"
    data-bs-toggle="modal"
    data-bs-target="#cap14Modal"
    style="cursor: pointer"
  >
    <div class="cap-card__media">
      <img
        src="/images/habilidadesacad.jpg"
        alt="Habilidades académicas"
        class="cap-card__img"
      />
    </div>
    <div class="cap-card__body">
      <h5>Habilidades académicas</h5>
      <p>"Texto Explicativo"</p>
    </div>
    <div class="cap-card__footer">
      <span class="d-block text-center text-white fw-bold py-2">
        Ver más »
      </span>
    </div>
  </div>

  <!-- TARJETA 15 -->
  <div
    class="cap-card"
    data-bs-toggle="modal"
    data-bs-target="#cap15Modal"
    style="cursor: pointer"
  >
    <div class="cap-card__media">
      <img
        src="/images/habilidadesdigit.jpg"
        alt="Habilidades digitales"
        class="cap-card__img"
      />
    </div>
    <div class="cap-card__body">
      <h5>Habilidades digitales</h5>
      <p>"Texto Explicativo"</p>
    </div>
    <div class="cap-card__footer">
      <span class="d-block text-center text-white fw-bold py-2">
        Ver más »
      </span>
    </div>
  </div>

  <!-- TARJETA 16 -->
  <div
    class="cap-card"
    data-bs-toggle="modal"
    data-bs-target="#cap16Modal"
    style="cursor: pointer"
  >
    <div class="cap-card__media">
      <img
        src="/images/trabajocolaborativo.jpg"
        alt="Trabajo colaborativo"
        class="cap-card__img"
      />
    </div>
    <div class="cap-card__body">
      <h5>Trabajo colaborativo</h5>
      <p>"Texto Explicativo"</p>
    </div>
    <div class="cap-card__footer">
      <span class="d-block text-center text-white fw-bold py-2">
        Ver más »
      </span>
    </div>
  </div>
</div>

<!-- ——— MODALES ——— -->

<!-- Modal 1 -->
<div
  class="modal fade"
  id="cap1Modal"
  tabindex="-1"
  aria-labelledby="cap1ModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg modal-dialog-centered">
    <div
      class="modal-content"
      style="border: 3px solid #70a341; border-radius: 1rem"
    >
      <div class="modal-body p-4">
        <div class="row align-items-center">
          <div class="col-md-5">
            <img
              src="/images/img-modal.jpg"
              alt="Diseño universal del aprendizaje"
              class="img-fluid rounded"
            />
          </div>
          <div class="col-md-7">
            <p id="cap1ModalLabel" class="fs-5 text-primary">
              Diseño Universal del Aprendizaje
            </p>
            <p class="fw-bold">Objetivo general</p>
            <p style="text-align: justify">
              Dentro de la Nueva Escuela Mexicana, el Diseño Universal para el
              Aprendizaje (DUA) tiene un papel fundamental ya que proporciona un
              marco estructurado para crear una educación inclusiva, equitativa
              y de calidad, respondiendo a las necesidades de todos los
              estudiantes preparándolos para los desafíos del siglo XXI.
            </p>
            <p style="text-align: justify">
              En el Diseño Universal para el Aprendizaje (DUA) subyace como uno
              de sus principales pilares la educación inclusiva por lo que en la
              Nueva Escuela Mexicana se constituye como una alternativa para
              trasformar las prácticas educativas y así contribuir al logro de
              crear entornos de aprendizaje en donde sea posible brindar una
              educación de calidad.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal 2 -->
<div
  class="modal fade"
  id="cap2Modal"
  tabindex="-1"
  aria-labelledby="cap2ModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg modal-dialog-centered">
    <div
      class="modal-content"
      style="border: 3px solid #70a341; border-radius: 1rem"
    >
      <div class="modal-body p-4">
        <div class="row align-items-center">
          <div class="col-md-5">
            <img
              src="/images/sideview-groupmates.jpg"
              alt="Educación intercultural"
              class="img-fluid rounded"
            />
          </div>
          <div class="col-md-7">
            <p id="cap2ModalLabel" class="fs-5 text-primary">
              Educación intercultural
            </p>
            <p class="fw-bold">Objetivo general</p>
            <p style="text-align: justify">
              Durante este curso, exploraremos diversos temas, utilizando
              métodos interactivos y recursos multimedia para hacer que tu
              experiencia de aprendizaje sea estimulante y efectiva. Desde la
              comodidad de tu hogar o cualquier lugar que prefieras, tendrás
              acceso a materiales de estudio de alta calidad, actividades
              prácticas y evaluaciones diseñadas para consolidar tu comprensión
              y aplicación de los conocimientos adquiridos.
            </p>
            <p style="text-align: justify">
              Prepárate para sumergirte en un entorno educativo innovador, donde
              la flexibilidad y la accesibilidad se combinan con la excelencia
              académica. ¡Esperamos que este curso sea el primer paso hacia tu
              éxito y desarrollo personal y profesional
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal 3 -->
<div
  class="modal fade"
  id="cap3Modal"
  tabindex="-1"
  aria-labelledby="cap3ModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg modal-dialog-centered">
    <div
      class="modal-content"
      style="border: 3px solid #70a341; border-radius: 1rem"
    >
      <div class="modal-body p-4">
        <div class="row align-items-center">
          <div class="col-md-5">
            <img
              src="/images/preschool-teacher-reading-children.jpg"
              alt="El aprendizaje en preescolar"
              class="img-fluid rounded"
            />
          </div>
          <div class="col-md-7">
            <p id="cap3ModalLabel" class="fs-5 text-primary">
              El aprendizaje en preescolar
            </p>
            <p class="fw-bold">Objetivo general</p>
            <p style="text-align: justify">
              En este curso, abordaremos de manera rigurosa y detallada las
              estrategias y enfoques necesarios para enfrentar los desafíos
              inherentes a la enseñanza infantil. Nuestro propósito es
              equiparlos con las herramientas y conocimientos necesarios para
              optimizar su práctica docente y promover un entorno de aprendizaje
              enriquecedor y adaptado a las necesidades de los niños en esta
              etapa crucial. Agradecemos su compromiso con la educación y
              esperamos que este curso aporte significativamente a su desarrollo
              profesional.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal 4 -->
<div
  class="modal fade"
  id="cap4Modal"
  tabindex="-1"
  aria-labelledby="cap4ModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg modal-dialog-centered">
    <div
      class="modal-content"
      style="border: 3px solid #70a341; border-radius: 1rem"
    >
      <div class="modal-body p-4">
        <div class="row align-items-center">
          <div class="col-md-5">
            <img
              src="/images/gestionapr.jpg"
              alt="Gestión del aprendizaje"
              class="img-fluid rounded"
            />
          </div>
          <div class="col-md-7">
            <p id="cap4ModalLabel" class="fs-5 text-primary">
              Gestión del aprendizaje en modalidades híbridas
            </p>
            <p class="fw-bold">Objetivo general</p>
            <p style="text-align: justify">
              En este curso, nos adentraremos en la Gestión del Aprendizaje en
              Modalidades Híbridas, una metodología que está revolucionando el
              panorama educativo. A través de nuestras sesiones, exploraremos
              cómo las herramientas de planeación, seguimiento y control pueden
              optimizar la experiencia de aprendizaje en entornos híbridos,
              asegurando que cada estudiante se beneficie de la combinación de
              modalidades. Abordaremos temas clave como la educación híbrida y
              el aula invertida, la colaboración docente, la integración de
              tecnología en la práctica pedagógica, y el uso de inteligencia
              artificial generativa.
            </p>
            <p style="text-align: justify">
              Nuestro objetivo es proporcionarte estrategias prácticas y
              recursos valiosos que te permitan diseñar y ejecutar una enseñanza
              colaborativa efectiva. Al finalizar este curso, tendrás las
              habilidades necesarias para implementar un enfoque innovador y
              flexible que potencie el aprendizaje de todos tus estudiantes, sin
              importar su contexto.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal 5 -->
<div
  class="modal fade"
  id="cap5Modal"
  tabindex="-1"
  aria-labelledby="cap5ModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg modal-dialog-centered">
    <div
      class="modal-content"
      style="border: 3px solid #70a341; border-radius: 1rem"
    >
      <div class="modal-body p-4">
        <div class="row align-items-center">
          <div class="col-md-5">
            <img
              src="/images/innov.jpg"
              alt="Innovación en la enseñanza"
              class="img-fluid rounded"
            />
          </div>
          <div class="col-md-7">
            <p
              id="cap5ModalLabel"
              class="fs-5 text-primary lh-sm"
              style="text-align: justify"
            >
              Innovación en la enseñanza para abordar la diversidad cultural,
              igualdad de género y fomentar la colaboración
            </p>
            <p class="fw-bold">Objetivo general</p>
            <p style="text-align: justify">
              Este curso está diseñado para explorar y aplicar estrategias
              innovadoras que enriquecerán nuestras prácticas pedagógicas y
              promoverán un entorno de aprendizaje donde cada voz y perspectiva
              sea valorada. Durante este viaje, nos adentraremos en métodos
              efectivos para integrar la diversidad cultural en el aula,
              garantizar que la igualdad de género sea una prioridad en nuestras
              estrategias educativas, y fomentar la colaboración entre
              estudiantes, colegas y comunidades. Su participación activa y sus
              experiencias únicas serán fundamentales para crear un espacio de
              aprendizaje dinámico y enriquecedor para todos.
            </p>
            <p style="text-align: justify">
              Esperamos que este curso no solo les proporcione herramientas
              valiosas, sino que también inspire nuevas ideas y enfoques que
              puedan transformar la manera en que enseñamos y aprendemos.
              ¡Prepárense para descubrir, innovar y crecer juntos en este camino
              hacia una educación más justa e inclusiva!
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal 6 -->
<div
  class="modal fade"
  id="cap6Modal"
  tabindex="-1"
  aria-labelledby="cap6ModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg modal-dialog-centered">
    <div
      class="modal-content"
      style="border: 3px solid #70a341; border-radius: 1rem"
    >
      <div class="modal-body p-4">
        <div class="row align-items-center">
          <div class="col-md-5">
            <img
              src="/images/integrequidad.jpg"
              alt="Integración de la equidad"
              class="img-fluid rounded"
            />
          </div>
          <div class="col-md-7">
            <p
              id="cap6ModalLabel"
              class="fs-5 text-primary lh-sm"
              style="text-align: justify"
            >
              Integración de la equidad de género en la práctica docente y
              procesos de enseñanza
            </p>
            <p class="fw-bold">Objetivo general</p>
            <p style="text-align: justify">
              Durante este curso, exploraremos diversos temas, utilizando
              métodos interactivos y recursos multimedia para hacer que tu
              experiencia de aprendizaje sea estimulante y efectiva. Desde la
              comodidad de tu hogar o cualquier lugar que prefieras, tendrás
              acceso a materiales de estudio de alta calidad, actividades
              prácticas y evaluaciones diseñadas para consolidar tu comprensión
              y aplicación de los conocimientos adquiridos.
            </p>
            <p style="text-align: justify">
              Prepárate para sumergirte en un entorno educativo innovador, donde
              la flexibilidad y la accesibilidad se combinan con la excelencia
              académica. ¡Esperamos que este curso sea el primer paso hacia tu
              éxito y desarrollo personal y profesional!
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal 7 -->
<div
  class="modal fade"
  id="cap7Modal"
  tabindex="-1"
  aria-labelledby="cap7ModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg modal-dialog-centered">
    <div
      class="modal-content"
      style="border: 3px solid #70a341; border-radius: 1rem"
    >
      <div class="modal-body p-4">
        <div class="row align-items-center">
          <div class="col-md-5">
            <img
              src="/images/practicadocente.jpg"
              alt="Práctica docente"
              class="img-fluid rounded"
            />
          </div>
          <div class="col-md-7">
            <p
              id="cap7ModalLabel"
              class="fs-5 text-primary lh-sm"
              style="text-align: justify"
            >
              Práctica docente en la scuela multigrado para la atención a la
              diversidad
            </p>
            <p class="fw-bold">Objetivo general</p>
            <p style="text-align: justify">
              En este programa de formación en línea, exploraremos las
              estrategias y métodos pedagógicos clave para enseñar en escuelas
              multigrado, enfocándonos especialmente en cómo atender de manera
              efectiva a la diversidad de los estudiantes. A lo largo del curso,
              aprenderemos cómo adaptar el currículo, gestionar el aula y
              promover un ambiente inclusivo que fomente el aprendizaje de todos
              los alumnos, independientemente de sus diferencias individuales
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal 8 -->
<div
  class="modal fade"
  id="cap8Modal"
  tabindex="-1"
  aria-labelledby="cap8ModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg modal-dialog-centered">
    <div
      class="modal-content"
      style="border: 3px solid #70a341; border-radius: 1rem"
    >
      <div class="modal-body p-4">
        <div class="row align-items-center">
          <div class="col-md-5">
            <img
              src="/images/servpublicos.jpg"
              alt="Conducirnos como serv. públicos"
              class="img-fluid rounded"
            />
          </div>
          <div class="col-md-7">
            <p
              id="cap8ModalLabel"
              class="fs-5 text-primary lh-sm"
              style="text-align: justify"
            >
              ¿Cómo conducirnos como servidores públicos?
            </p>
            <p class="fw-bold">Objetivo general</p>
            <p style="text-align: justify">
              Este curso ha sido diseñado para proporcionarle las herramientas y
              conocimientos necesarios para desempeñarse de manera ética,
              eficiente y responsable en su trabajo como servidor público. A lo
              largo de este curso, explorará principios básicos como la ética
              profesional, la comunicación efectiva, la gestión del tiempo y la
              importancia de la transparencia y la rendición de cuentas en el
              servicio público.
            </p>
            <p style="text-align: justify">
              El propósito de este curso es fortalecer su capacidad para
              interactuar con los ciudadanos de manera respetuosa y efectiva,
              optimizar sus recursos y mejorar la calidad de los servicios que
              brinda, siempre bajo los más altos estándares de ética y
              compromiso con la sociedad.
            </p>
            <p style="text-align: justify">
              A través de actividades interactivas, estudios de caso y
              reflexiones grupales, aprenderá a manejar situaciones cotidianas
              con profesionalismo, tomando decisiones justas y objetivas que
              benefician al bien común. Este curso no solo le ofrecerá teoría,
              sino también herramientas prácticas que podrá implementar de
              inmediato en su entorno de trabajo.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal 9 -->
<div
  class="modal fade"
  id="cap9Modal"
  tabindex="-1"
  aria-labelledby="cap9ModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg modal-dialog-centered">
    <div
      class="modal-content"
      style="border: 3px solid #70a341; border-radius: 1rem"
    >
      <div class="modal-body p-4">
        <div class="row align-items-center">
          <div class="col-md-5">
            <img
              src="/images/admintiempo.webp"
              alt="Adminitración del tiempo"
              class="img-fluid rounded"
            />
          </div>
          <div class="col-md-7">
            <p
              id="cap9ModalLabel"
              class="fs-5 text-primary lh-sm"
              style="text-align: justify"
            >
              Adminitración del tiempo
            </p>
            <p class="fw-bold">Objetivo general</p>
            <p style="text-align: justify">
              Es un gusto darles la bienvenida a esta experiencia diseñada
              especialmente para docentes y administrativos de la Universidad de
              Chiapas. Sabemos que la gestión del tiempo representa un desafío
              constante en el entorno académico y administrativo, por lo que
              este curso tiene como propósito capacitarlos en estrategias
              prácticas y efectivas que les permitirán organizar sus
              actividades, incrementar su productividad y reducir el estrés
              asociado con la acumulación de tareas.
            </p>
            <p style="text-align: justify">
              A lo largo del curso, abordaremos conceptos clave sobre
              administración del tiempo, aprenderán a identificar prioridades y
              objetivos fundamentales, descubrirán técnicas para planificar con
              herramientas digitales y métodos para evitar la procrastinación y
              las distracciones. Asimismo, trabajaremos en la mejora continua de
              sus hábitos para que puedan adaptarse a los desafíos diarios.
            </p>
            <p style="text-align: justify">
              Los invitamos a participar activamente en las actividades y a
              reflexionar sobre la aplicación de estos conocimientos en su rol
              como docentes o administrativos.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal 10 -->
<div
  class="modal fade"
  id="cap10Modal"
  tabindex="-1"
  aria-labelledby="cap10ModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg modal-dialog-centered">
    <div
      class="modal-content"
      style="border: 3px solid #70a341; border-radius: 1rem"
    >
      <div class="modal-body p-4">
        <div class="row align-items-center">
          <div class="col-md-5">
            <img
              src="/images/atencionciudadana.jpg"
              alt="Atención y servicio a la ciudadanía"
              class="img-fluid rounded"
            />
          </div>
          <div class="col-md-7">
            <p
              id="cap10ModalLabel"
              class="fs-5 text-primary lh-sm"
              style="text-align: justify"
            >
              Atención y servicio a la ciudadanía
            </p>
            <p class="fw-bold">Objetivo general</p>
            <p style="text-align: justify">
              En este curso, explicaremos cómo desarrollar estrategias que
              transformen la manera en que se brinda atención y servicio a la
              ciudadanía, permitiendo que cada interacción sea una oportunidad
              para generar confianza, empatía y soluciones efectivas.
            </p>
            <p style="text-align: justify">
              A lo largo de las sesiones, se proporcionarán herramientas
              prácticas, técnicas innovadoras y recursos valiosos para
              fortalecer habilidades en comunicación efectiva, resolución de
              conflictos y mejora continua del servicio. Cada módulo ha sido
              diseñado para ofrecer conocimientos aplicables que impulsen un
              servicio de calidad orientado al ciudadano.
            </p>
            <p style="text-align: justify">
              El objetivo es que al finalizar este curso cuentes con una
              comprensión profunda de los principios del servicio ciudadano y la
              capacidad de implementar enfoques que beneficien tanto a quienes
              reciben como a quienes ofrecen la atención.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal 11 -->
<div
  class="modal fade"
  id="cap11Modal"
  tabindex="-1"
  aria-labelledby="cap11ModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg modal-dialog-centered">
    <div
      class="modal-content"
      style="border: 3px solid #70a341; border-radius: 1rem"
    >
      <div class="modal-body p-4">
        <div class="row align-items-center">
          <div class="col-md-5">
            <img
              src="/images/climaycultura.jpg"
              alt="Clima y Cultura Organizacional"
              class="img-fluid rounded"
            />
          </div>
          <div class="col-md-7">
            <p
              id="cap11ModalLabel"
              class="fs-5 text-primary lh-sm"
              style="text-align: justify"
            >
              Clima y Cultura Organizacional
            </p>
            <p class="fw-bold">Objetivo general</p>
            <p style="text-align: justify">
              Es un placer darle la bienvenida a este espacio de aprendizaje
              diseñado para brindarle herramientas y conocimientos que le
              ayudarán a comprender, evaluar y mejorar el clima y la cultura
              organizacional en su entorno laboral. La forma en que trabajamos,
              nos comunicamos y nos relacionamos dentro de una institución
              influye directamente en la productividad, la satisfacción y el
              bienestar de todos sus integrantes.
            </p>
            <p style="text-align: justify">
              En este curso, explorará los conceptos básicos de la cultura
              organizacional, descubrirá cómo el clima laboral impacta en la
              motivación y el desempeño, y conocerá estrategias efectivas para
              fortalecer el compromiso, la colaboración y el sentido de
              pertenencia en su equipo de trabajo. Además, aprenderá a
              identificar áreas de mejora y a implementar acciones que
              contribuyan a la construcción de un entorno más saludable y
              alineado con los objetivos estratégicos de su institución.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal 12 -->
<div
  class="modal fade"
  id="cap12Modal"
  tabindex="-1"
  aria-labelledby="cap12ModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg modal-dialog-centered">
    <div
      class="modal-content"
      style="border: 3px solid #70a341; border-radius: 1rem"
    >
      <div class="modal-body p-4">
        <div class="row align-items-center">
          <div class="col-md-5">
            <img
              src="/images/desarrgerencial.jpg"
              alt="Desarrollo de habilidades gerenciales"
              class="img-fluid rounded"
            />
          </div>
          <div class="col-md-7">
            <p
              id="cap12ModalLabel"
              class="fs-5 text-primary lh-sm"
              style="text-align: justify"
            >
              Desarrollo de habilidades gerenciales
            </p>
            <p class="fw-bold">Objetivo general</p>
            <p style="text-align: justify">
              En este curso, desarrollará habilidades clave en liderazgo y
              gestión para optimizar la toma de decisiones y mejorar el
              desempeño de su equipo en el entorno laboral actual. A lo largo de
              los módulos, explorará herramientas y estrategias fundamentales
              que le permitirán convertirse en un líder más eficaz y tomar
              decisiones estratégicas con confianza.
            </p>
            <p style="text-align: justify">
              Iniciaremos con el desarrollo de habilidades gerenciales
              esenciales, como la comunicación efectiva, la gestión del cambio,
              el trabajo en equipo y la toma de decisiones. Posteriormente,
              profundizaremos en los fundamentos del liderazgo y la gestión,
              comprendiendo su relación y aplicando técnicas estratégicas como
              el análisis FODA, la matriz BCG, el análisis PESTEL y la matriz de
              decisión. También abordaremos la comunicación y motivación en
              equipos de trabajo, esenciales para fomentar un ambiente
              colaborativo y alineado con los objetivos organizacionales.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal 13 -->
<div
  class="modal fade"
  id="cap13Modal"
  tabindex="-1"
  aria-labelledby="cap13ModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg modal-dialog-centered">
    <div
      class="modal-content"
      style="border: 3px solid #70a341; border-radius: 1rem"
    >
      <div class="modal-body p-4">
        <div class="row align-items-center">
          <div class="col-md-5">
            <img
              src="/images/estres.jpg"
              alt="Estrés laboral y salud mental"
              class="img-fluid rounded"
            />
          </div>
          <div class="col-md-7">
            <p
              id="cap13ModalLabel"
              class="fs-5 text-primary lh-sm"
              style="text-align: justify"
            >
              Estrés laboral y salud mental
            </p>
            <p class="fw-bold">Objetivo general</p>
            <p style="text-align: justify">
              En este curso, exploraremos cómo la gestión del estrés laboral y
              el cuidado de la salud mental pueden transformar la calidad de
              vida en el entorno de trabajo, permitiendo que cada persona
              desarrolle su máximo bienestar emocional y mental.
            </p>
            <p style="text-align: justify">
              A lo largo de nuestras sesiones, le proporcionaremos herramientas
              prácticas, estrategias efectivas y recursos valiosos que le
              ayudarán a identificar las causas del estrés, implementar técnicas
              de autocuidado y fomentar ambientes laborales saludables, además,
              descubrirá métodos innovadores, como la práctica de mindfulness,
              para enfrentar los desafíos del día a día de manera equilibrada.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal 14 -->
<div
  class="modal fade"
  id="cap14Modal"
  tabindex="-1"
  aria-labelledby="cap14ModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg modal-dialog-centered">
    <div
      class="modal-content"
      style="border: 3px solid #70a341; border-radius: 1rem"
    >
      <div class="modal-body p-4">
        <div class="row align-items-center">
          <div class="col-md-5">
            <img
              src="/images/habilidadesacad.jpg"
              alt="Habilidades académicas"
              class="img-fluid rounded"
            />
          </div>
          <div class="col-md-7">
            <p
              id="cap14ModalLabel"
              class="fs-5 text-primary lh-sm"
              style="text-align: justify"
            >
              Habilidades académicas
            </p>
            <p class="fw-bold">Objetivo general</p>
            <p style="text-align: justify">
              Es un placer acompañarle en este espacio de aprendizaje diseñado
              para fortalecer sus competencias en organización, estudio,
              investigación y escritura académica. A lo largo de este curso,
              descubrirá herramientas y estrategias que le permitirán
              desarrollar un aprendizaje más autónomo, gestionar mejor su tiempo
              y potenciar su desempeño académico.
            </p>
            <p style="text-align: justify">
              El propósito de este curso es brindarle los conocimientos y
              habilidades necesarias para optimizar su proceso de estudio y toma
              de decisiones en el ámbito académico. Mediante actividades
              dinámicas y contenidos actualizados, podrá fortalecer su capacidad
              de análisis, mejorar su enfoque en la gestión del aprendizaje y
              aplicar técnicas efectivas que le permitirán alcanzar sus metas
              con mayor eficiencia.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal 15 -->
<div
  class="modal fade"
  id="cap15Modal"
  tabindex="-1"
  aria-labelledby="cap15ModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg modal-dialog-centered">
    <div
      class="modal-content"
      style="border: 3px solid #70a341; border-radius: 1rem"
    >
      <div class="modal-body p-4">
        <div class="row align-items-center">
          <div class="col-md-5">
            <img
              src="/images/habilidadesdigit.jpg"
              alt="Habilidades digitales"
              class="img-fluid rounded"
            />
          </div>
          <div class="col-md-7">
            <p
              id="cap15ModalLabel"
              class="fs-5 text-primary lh-sm"
              style="text-align: justify"
            >
              Habilidades digitales
            </p>
            <p class="fw-bold">Objetivo general</p>
            <p style="text-align: justify">
              Es un gusto recibirle en esta experiencia de aprendizaje diseñada
              para fortalecer sus competencias en el mundo digital. En la
              actualidad, contar con habilidades digitales no es solo una
              ventaja, sino una necesidad para el desarrollo profesional y
              personal.
            </p>
            <p style="text-align: justify">
              A lo largo de este curso, usted adquirirá conocimientos y
              herramientas que le permitirán optimizar su productividad, mejorar
              su comunicación en entornos digitales y colaborar de manera más
              eficiente en línea. Desde la navegación en internet hasta el uso
              avanzado de plataformas colaborativas, explorará recursos
              esenciales para desenvolverse con éxito en un entorno cada vez más
              tecnológico.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal 16 -->
<div
  class="modal fade"
  id="cap16Modal"
  tabindex="-1"
  aria-labelledby="cap16ModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg modal-dialog-centered">
    <div
      class="modal-content"
      style="border: 3px solid #70a341; border-radius: 1rem"
    >
      <div class="modal-body p-4">
        <div class="row align-items-center">
          <div class="col-md-5">
            <img
              src="/images/trabajocolaborativo.jpg"
              alt="Trabajo colaborativo"
              class="img-fluid rounded"
            />
          </div>
          <div class="col-md-7">
            <p
              id="cap16ModalLabel"
              class="fs-5 text-primary lh-sm"
              style="text-align: justify"
            >
              Habilidades digitales
            </p>
            <p class="fw-bold">Objetivo general</p>
            <p style="text-align: justify">
              En el entorno actual, la capacidad de trabajar de manera
              colaborativa es una competencia fundamental para el éxito en
              proyectos académicos, profesionales y sociales. Este curso ha sido
              diseñado con un enfoque académico-administrativo, integrando
              fundamentos teóricos y prácticos que le permitirán desarrollar
              habilidades esenciales para la colaboración efectiva en equipo.
            </p>
            <p style="text-align: justify">
              A través de un temario estructurado y actividades alineadas con
              metodologías actuales, explorará los principios que rigen el
              trabajo colaborativo, comprenderá la importancia de los roles
              dentro de un equipo y aprenderá a manejar dinámicas grupales con
              eficacia. Además, se abordarán estrategias para la resolución de
              conflictos y la toma de decisiones, integrando el uso de
              herramientas digitales para optimizar la gestión y el seguimiento
              de proyectos.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
