<h2 class="fw-bold pt-2 mb-4 text-center" style="color: rgba(35, 63, 134, 1)">
  CATÁLOGO
</h2>

<div class="row g-4 justify-content-center">
  <!-- TARJETA 1 -->
  <div class="col-6 col-md-3">
    <a
      href="/archivos/Programa_de_capacitacion_en_Inteligencia_Artificial_para_Profesionales_de_la_Informacion.pdf"
      target="_blank"
      rel="noopener"
      class="text-decoration-none"
    >
      <div class="card h-100 border-0 shadow-lm custom-orange-border">
        <img
          src="/images/Portada_IA-1.jpg"
          class="card-img-top rounded-top"
          alt="Portada Programa IA Docentes"
        />
        <div class="card-body pt-4">
          <h5
            class="card-title text-center fw-bold fs-6 lh-base"
            style="color: rgba(35, 63, 134, 1)"
          >
            Programa de capacitación en Inteligencia artificial
          </h5>
          <p class="card-text mb-0 text-center fw-bold" style="color: #70a341">
            <u> Para profesionales de la información </u>
          </p>
        </div>
      </div>
    </a>
  </div>
  <!-- // Clona este <div.col-*> para las demás tarjetas -->
  <div class="col-6 col-md-3">
    <a
      href="/archivos/Programa_de_capacitacion_en_Inteligencia_Artificial_para_Funcionarios_del_Sector_Salud.pdf"
      target="_blank"
      rel="noopener"
      class="text-decoration-none"
    >
      <div class="card h-100 border-0 shadow-lm custom-teal-border">
        <img
          src="/images/Portada_IA-2.jpg"
          class="card-img-top rounded-top"
          alt="Portada Programa IA Docentes"
        />
        <div class="card-body pt-4">
          <h5
            class="card-title text-center fw-bold fs-6 lh-base"
            style="color: rgba(35, 63, 134, 1)"
          >
            Programa de capacitación en Inteligencia artificial
          </h5>
          <p class="card-text mb-0 text-center fw-bold" style="color: #70a341">
            <u> Para funcionarios del sector salud </u>
          </p>
        </div>
      </div>
    </a>
  </div>
  <div class="col-6 col-md-3">
    <a
      href="/archivos/Programa_de_capacitacion_en_Inteligencia_Artificial_para_Funcionarios_Publicos.pdf"
      target="_blank"
      rel="noopener"
      class="text-decoration-none"
    >
      <div class="card h-100 border-0 shadow-lm custom-blue-border">
        <img
          src="/images/Portada_IA-4.jpg"
          class="card-img-top rounded-top"
          alt="Portada Programa IA Docentes"
        />
        <div class="card-body pt-4">
          <h5
            class="card-title text-center fw-bold fs-6 lh-base"
            style="color: rgba(35, 63, 134, 1)"
          >
            Programa de capacitación en Inteligencia artificial
          </h5>
          <p class="card-text mb-0 text-center fw-bold" style="color: #70a341">
            <u> Para funcionarios públicos </u>
          </p>
        </div>
      </div>
    </a>
  </div>
  <div class="col-6 col-md-3">
    <a
      href="/archivos/Programa_de_capacitacion_en_IA_para_Docentes_de_Educación_Media_Superior_y_Superior.pdf"
      target="_blank"
      rel="noopener"
      class="text-decoration-none"
    >
      <div class="card h-100 border-0 shadow-lm custom-purple-border">
        <img
          src="/images/Portada_IA-3.jpg"
          class="card-img-top rounded-top"
          alt="Portada Programa IA Docentes"
        />
        <div class="card-body pt-4">
          <h5
            class="card-title text-center fw-bold fs-6 lh-base"
            style="color: rgba(35, 63, 134, 1)"
          >
            Programa de capacitación en Inteligencia artificial
          </h5>
          <p class="card-text mb-0 text-center fw-bold" style="color: #70a341">
            <u> Para docentes de educación media superior y superior </u>
          </p>
        </div>
      </div>
    </a>
  </div>
</div>
