<h2 class="fw-bold pt-3 mb-4 text-center" style="color: rgba(35, 63, 134, 1)">
  CURSOS
</h2>

<!-- ——— CONTENEDOR FLEX ——— -->
<div class="capacitaciones-flex cursos-ia-flex">
  <!-- TARJETA 1 -->
  <div
    class="cap-card"
    data-bs-toggle="modal"
    data-bs-target="#cap1Modal"
    style="cursor: pointer"
  >
    <div class="cap-card__media">
      <img
        src="/images/capacIAEduMedSup.jpg"
        alt="Capacitacion IA Edu. Media Sup. y Sup."
        class="cap-card__img"
      />
    </div>
    <div class="cap-card__body">
      <h5>
        Programa de Capacitación en Inteligencia Artificial para Docentes de
        Educación Media Superior y Superior.
      </h5>
      <p>¿¿"Texto Explicativo"??</p>
    </div>
    <div class="cap-card__footer">
      <span class="d-block text-center text-white fw-bold py-2">
        Ver más »
      </span>
    </div>
  </div>

  <!-- TARJETA 2 -->
  <div
    class="cap-card"
    data-bs-toggle="modal"
    data-bs-target="#cap2Modal"
    style="cursor: pointer"
  >
    <div class="cap-card__media">
      <img
        src="/images/capacIAFuncSecSalud.jpg"
        alt="Capacitacion IA Edu. Sector Salud"
        class="cap-card__img"
      />
    </div>
    <div class="cap-card__body">
      <h5>
        Programa de Capacitación en Inteligencia Artificial para Funcionarios
        del Sector Salud
      </h5>
      <p>¿¿"Texto Explicativo"??</p>
    </div>
    <div class="cap-card__footer">
      <span class="d-block text-center text-white fw-bold py-2">
        Ver más »
      </span>
    </div>
  </div>

  <!-- TARJETA 3 -->
  <div
    class="cap-card"
    data-bs-toggle="modal"
    data-bs-target="#cap3Modal"
    style="cursor: pointer"
  >
    <div class="cap-card__media">
      <img
        src="/images/capacIAFuncPubl.jpg"
        alt="Capacitacion IA Func. Públicos"
        class="cap-card__img"
      />
    </div>
    <div class="cap-card__body">
      <h5>
        Programa de Capacitación en Inteligencia Artificial para Funcionarios
        Públicos
      </h5>
      <p>¿¿"Texto Explicativo"??</p>
    </div>
    <div class="cap-card__footer">
      <span class="d-block text-center text-white fw-bold py-2">
        Ver más »
      </span>
    </div>
  </div>

  <!-- TARJETA 4 -->
  <div
    class="cap-card"
    data-bs-toggle="modal"
    data-bs-target="#cap4Modal"
    style="cursor: pointer"
  >
    <div class="cap-card__media">
      <img
        src="/images/capacIAProfInfo.jpg"
        alt="Capacitacion IA Profesionales Info."
        class="cap-card__img"
      />
    </div>
    <div class="cap-card__body">
      <h5>
        Programa de Capacitación en Inteligencia Artificial para Profesionales
        de la Información
      </h5>
      <p>¿¿"Texto Explicativo"??</p>
    </div>
    <div class="cap-card__footer">
      <span class="d-block text-center text-white fw-bold py-2">
        Ver más »
      </span>
    </div>
  </div>
</div>

<!------------------------ ——— MODALES ——— ----------------------------------------->

<!-- Modal 1 -->
<div
  class="modal fade"
  id="cap1Modal"
  tabindex="-1"
  aria-labelledby="cap1ModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg modal-dialog-centered">
    <div
      class="modal-content"
      style="border: 3px solid #70a341; border-radius: 1rem"
    >
      <div class="modal-body p-4">
        <div class="row align-items-center">
          <div class="col-md-5">
            <img
              src="/images/capacIAEduMedSup.jpg"
              alt="Capacitacion IA Edu. Media Sup. y Sup."
              class="img-fluid rounded"
            />
          </div>
          <div class="col-md-7">
            <p id="cap1ModalLabel" class="fs-5 text-primary">
              Programa de Capacitación en Inteligencia Artificial para Docentes
              de Educación Media Superior y Superior.
            </p>
            <p class="fw-bold">Objetivo general</p>
            <p style="text-align: justify">
              Capacitar a los docentes en el uso de herramientas de Inteligencia
              Artificial (IA) accesibles, con el fin de mejorar la calidad de la
              enseñanza, reducir los tiempos en la preparación de materiales
              educativos, personalizar el aprendizaje y optimizar la
              comunicación interna y externa.
            </p>
            <p style="text-align: justify">
              Este programa está diseñado para ser práctico y aplicable a las
              actividades diarias de los docentes, con un enfoque del 70% en la
              mejora de los procesos de enseñanza-aprendizaje, y un 30% en la
              comunicación con estudiantes y colegas.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal 2 -->
<div
  class="modal fade"
  id="cap2Modal"
  tabindex="-1"
  aria-labelledby="cap2ModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg modal-dialog-centered">
    <div
      class="modal-content"
      style="border: 3px solid #70a341; border-radius: 1rem"
    >
      <div class="modal-body p-4">
        <div class="row align-items-center">
          <div class="col-md-5">
            <img
              src="/images/capacIAFuncSecSalud.jpg"
              alt="Capacitacion IA Edu. Sector Salud"
              class="img-fluid rounded"
            />
          </div>
          <div class="col-md-7">
            <p id="cap2ModalLabel" class="fs-5 text-primary">
              Programa de Capacitación en Inteligencia Artificial para
              Funcionarios del Sector Salud
            </p>
            <p class="fw-bold">Objetivo general</p>
            <p style="text-align: justify">
              Capacitar a los funcionarios del sector salud en el uso de
              herramientas de Inteligencia Artificial (IA) accesibles, con el
              objetivo de mejorar la eficiencia en la atención médica, reducir
              los tiempos de respuesta en procesos administrativos, agilizar
              trámites de pacientes y optimizar la comunicación interna y
              externa.
            </p>
            <p style="text-align: justify">
              Este programa está diseñado para ser práctico y aplicable de
              inmediato a las actividades diarias, con un enfoque del 70% en la
              mejora de procesos clínicos y administrativos, y un 30% en la
              comunicación social e interna.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal 3 -->
<div
  class="modal fade"
  id="cap3Modal"
  tabindex="-1"
  aria-labelledby="cap3ModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg modal-dialog-centered">
    <div
      class="modal-content"
      style="border: 3px solid #70a341; border-radius: 1rem"
    >
      <div class="modal-body p-4">
        <div class="row align-items-center">
          <div class="col-md-5">
            <img
              src="/images/capacIAFuncPubl.jpg"
              alt="Capacitacion IA Func. Públicos"
              class="img-fluid rounded"
            />
          </div>
          <div class="col-md-7">
            <p id="cap3ModalLabel" class="fs-5 text-primary">
              Programa de Capacitación en Inteligencia Artificial para
              Funcionarios Públicos
            </p>
            <p class="fw-bold">Objetivo general</p>
            <p style="text-align: justify">
              Capacitar a los funcionarios públicos en el uso de herramientas de
              Inteligencia Artificial (IA) accesibles, con el fin de mejorar la
              percepción ciudadana, reducir tiempos en la ejecución de tareas,
              agilizar trámites y optimizar la comunicación interna y externa.
            </p>
            <p style="text-align: justify">
              Este programa está diseñado para ser práctico y aplicable de
              inmediato a las actividades diarias de los funcionarios,
              centrándose en un 70% en la mejora de procesos administrativos y
              gestión pública, y un 30% en la comunicación social e interna.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal 4 -->
<div
  class="modal fade"
  id="cap4Modal"
  tabindex="-1"
  aria-labelledby="cap4ModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg modal-dialog-centered">
    <div
      class="modal-content"
      style="border: 3px solid #70a341; border-radius: 1rem"
    >
      <div class="modal-body p-4">
        <div class="row align-items-center">
          <div class="col-md-5">
            <img
              src="/images/capacIAProfInfo.jpg"
              alt="Capacitacion IA Profesionales Info."
              class="img-fluid rounded"
            />
          </div>
          <div class="col-md-7">
            <p id="cap4ModalLabel" class="fs-5 text-primary">
              Programa de Capacitación en Inteligencia Artificial para
              Profesionales de la Información
            </p>
            <p class="fw-bold">Objetivo general</p>
            <p style="text-align: justify">
              apacitar al personal bibliotecario en el uso de herramientas
              accesibles de Inteligencia Artificial (IA) para mejorar la
              eficiencia en la búsqueda de información, personalización del
              servicio, gestión de datos y comunicación interna.
            </p>
            <p style="text-align: justify">
              Este programa es práctico y aplicable a las actividades diarias en
              la biblioteca.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
