<section id="home-cards">
  <div class="container">
    <div class="row justify-content-center">
      <!-- Card: ¿Qué es UNIC? -->
      <div class="col-md-4 mb-4 mb-md-0">
        <div
          class="card h-100 border-success border-2"
          style="border-radius: 25px"
        >
          <img
            src="/images/icono-nosotros.png"
            class="card-img-top p-2 ms-2"
            style="max-width: 100px; height: auto"
            alt="Icono ¿Qué es UNIC?"
          />
          <div class="card-body" style="padding-top: 5px">
            <h3 class="card-title fw-bold" style="color: rgba(35, 63, 134, 1)">
              ¿Qué es UNIC?
            </h3>
            <p class="card-text" style="padding-top: 8px">
              <span class="fw-bold"
                >UNIC Universidad para la Innovación y la Cultura, A.C.,</span
              >
              es una institución formadora, especializada en la formación,
              actualización y desarrollo profesional del personal docente, con
              especial atención a la Educación Básica. Participa activamente en
              la implementación de programas federales de formación continua,
              diseñando e impartiendo cursos, talleres, diplomados y estrategias
              pedagógicas alineadas con las políticas educativas nacionales.
            </p>
          </div>
        </div>
      </div>
      <!-- Card: Misión -->
      <div class="col-md-4 mb-4 mb-md-0">
        <div
          class="card h-100 border-success border-2"
          style="border-radius: 25px"
        >
          <img
            src="/images/icono-mision.png"
            class="card-img-top p-3 ms-2"
            style="max-width: 100px; height: auto"
            alt="Icono Misión"
          />
          <div class="card-body" style="padding-top: 5px">
            <h3 class="card-title fw-bold" style="color: rgba(35, 63, 134, 1)">
              Misión
            </h3>
            <p class="card-text" style="padding-top: 8px">
              Brindar servicios de formación continua y capacitación
              especializada que contribuyan al desarrollo profesional de
              docentes y certificación en el dominio del idioma inglés, en un
              trabaja con compromiso en el diseño y ejecución de programas
              formativos que respondan a las necesidades reales del sector
              educativo y de la sociedad en general.
            </p>
          </div>
        </div>
      </div>
      <!-- Card: Visión -->
      <div class="col-md-4 mb-4 mb-md-0">
        <div
          class="card h-100 border-success border-2"
          style="border-radius: 25px"
        >
          <img
            src="/images/icono- vision.png"
            class="card-img-top p-3 ms-2"
            style="max-width: 100px; height: auto"
            alt="Icono Visión"
          />
          <div class="card-body" style="padding-top: 5px">
            <h3 class="card-title fw-bold" style="color: rgba(35, 63, 134, 1)">
              Visión
            </h3>
            <p class="card-text" style="padding-top: 8px">
              Ser una institución formadora de referencia nacional e
              internacional en el desarrollo profesional docente, reconocida por
              su excelencia académica, innovación pedagógica y compromiso con la
              mejora educativa, capaz de incidir de manera significativa en los
              procesos de enseñanza-aprendizaje. Aspiramos a consolidarnos como
              un actor estratégico en las políticas públicas de formación
              continua y como una entidad certificadora confiable y rigurosa,
              que responda a los desafíos educativos del siglo XXI.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
