<h2 class="fw-bold pt-2 mb-4 text-center" style="color: rgba(35, 63, 134, 1)">
  OFERTA ACADÉMICA
</h2>

<div class="ofertas-flex">
  <!-- TARJETA Capacitación docente -->

  <a href="/pages/capacitacion.html" class="oferta-card  text-decoration-none">
    <img
      src="/images/curso_Capacitación docente.png"
      alt="Capacitación docente"
      class="oferta-card__img"
    />
  </a>

  <!-- TARJETA Diplomados -->

  <a href="/pages/diplomados.html" class="oferta-card text-decoration-none">
    <img
      src="/images/curso_Diplomados.png"
      alt="Diplomados"
      class="oferta-card__img"
    />
  </a>

  <!-- TARJETA Educación continua -->

  <a
    href="/pages/educacion-continua.html"
    class="oferta-card text-decoration-none"
  >
    <img
      src="/images/curso_Educación continua.png"
      alt="Educación continua"
      class="oferta-card__img"
    />
  </a>

  <!-- TARJETA Cursos de IA -->

  <a href="/pages/cursos-ia.html" class="oferta-card text-decoration-none">
    <img
      src="/images/curso_Cursos IA.png"
      alt="Cursos de IA"
      class="oferta-card__img"
    />
  </a>
</div>
