<h2 class="fw-bold pt-3 mb-4 text-center" style="color: rgba(35, 63, 134, 1)">
  CURSOS
</h2>
<!-- ——— CONTENEDOR FLEX ——— -->
<div class="capacitaciones-flex educont-flex">
  <!-- TARJETA 1 -->
  <div
    class="educont-card"
    data-bs-toggle="modal"
    data-bs-target="#cap1Modal"
    style="cursor: pointer"
  >
    <div class="educont-card__media">
      <img
        src="/images/pfsee1.jpg"
        alt="Diseño universal del aprendizaje 2"
        class="educont-card__img"
        style="border: 1px solid #70a341"
      />
    </div>
    <div class="educont-card__body">
      <h5>Diseño universal del aprendizaje</h5>
    </div>
  </div>
</div>

<!------------------------ ——— MODALES ——— ----------------------------------------->

<!-- Modal 1 -->
<div
  class="modal fade"
  id="cap1Modal"
  tabindex="-1"
  aria-labelledby="cap1ModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg modal-dialog-centered">
    <div
      class="modal-content"
      style="border: 3px solid #70a341; border-radius: 1rem"
    >
      <div class="modal-body p-4">
        <div class="row align-items-center">
          <div class="col-md-5">
            <img
              src="/images/peei1.jpg"
              alt="Diseño universal del aprendizaje 2"
              class="img-fluid rounded"
            />
          </div>
          <div class="col-md-7">
            <p id="cap1ModalLabel" class="fs-5 text-primary">
              Diseño Universal del Aprendizaje
            </p>
            <p class="fw-bold">Objetivo general</p>
            <p style="text-align: justify">
              Dentro de la Nueva Escuela Mexicana, el Diseño Universal para el
              Aprendizaje (DUA) tiene un papel fundamental ya que proporciona un
              marco estructurado para crear una educación inclusiva, equitativa
              y de calidad, respondiendo a las necesidades de todos los
              estudiantes preparándolos para los desafíos del siglo XXI.
            </p>
            <p style="text-align: justify">
              En el Diseño Universal para el Aprendizaje (DUA) subyace como uno
              de sus principales pilares la educación inclusiva por lo que en la
              Nueva Escuela Mexicana se constituye como una alternativa para
              trasformar las prácticas educativas y así contribuir al logro de
              crear entornos de aprendizaje en donde sea posible brindar una
              educación de calidad.
            </p>
            <p style="text-align: justify">
              Para aproximarnos al conocimiento y apropiación del DUA para
              enriquecer nuestra práctica educativa es necesario conocer a
              través de este módulo uno la relevancia que tiene dentro de
              nuestro contexto educativo actual, cómo se conceptualiza y los
              referentes que subyacen en el origen de este modelo. Te invitamos
              a iniciar este viaje en donde encontrarás oportunidades para
              analizar, reflexionar y crear estrategias para fortalecer tu
              práctica educativa.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
