<h2 class="fw-bold pt-3 mb-4 text-center" style="color: rgba(35, 63, 134, 1)">
  PROGRAMAS
</h2>

<div class="ofertas-flex">
  <!-- TARJETA PEEI-->

  <a href="/pages/peei.html" class="pfederales-card text-decoration-none">
    <img
      src="/images/curso_PEEI.png"
      alt="Programa PEEI"
      class="oferta-card__img"
    />
  </a>

  <!-- TARJETA PFSEE -->

  <a href="/pages/pfsee.html" class="pfederales-card text-decoration-none">
    <img
      src="/images/curso_PFSEE.png"
      alt="Programa PFSEE"
      class="oferta-card__img"
    />
  </a>

  <!-- TARJETA PRONI -->

  <a href="/pages/proni.html" class="pfederales-card text-decoration-none">
    <img
      src="/images/curso_PRONI.png"
      alt="Programa PRONI"
      class="oferta-card__img"
    />
  </a>

  <!-- TARJETA PRODEP -->

  <a href="/pages/prodep.html" class="pfederales-card text-decoration-none">
    <img
      src="/images/curso_PRODEP.png"
      alt="Programa PRODEP"
      class="oferta-card__img"
    />
  </a>
</div>
