<h2 class="fw-bold pt-3 mb-4 text-center" style="color: rgba(35, 63, 134, 1)">
  TALLERES
</h2>

<!-- ——— CONTENEDOR FLEX ——— -->
<div class="educont-flex">
  <!-- TARJETA 1 -->
  <div
    class="educont-card"
    data-bs-toggle="modal"
    data-bs-target="#cap1Modal"
    style="cursor: pointer"
  >
    <div class="educont-card__media">
      <img
        src="/images/proni1.jpg"
        alt="Taller 1"
        class="educont-card__img"
        style="border: 1px solid #70a341"
      />
    </div>
    <div class="educont-card__body">
      <h5>
        Taller para fortalecer y reforzar las habilidades de Lectura y
        Comprensión Auditiva para la enseñanza del Idioma Inglés
      </h5>
    </div>
  </div>

  <!-- TARJETA 2 -->
  <div
    class="educont-card"
    data-bs-toggle="modal"
    data-bs-target="#cap2Modal"
    style="cursor: pointer"
  >
    <div class="educont-card__media">
      <img
        src="/images/proni2.jpg"
        alt="Taller 2"
        class="educont-card__img"
        style="border: 1px solid #70a341"
      />
    </div>
    <div class="educont-card__body">
      <h5>Taller de elaboración de material didáctico (PRONI)</h5>
    </div>
  </div>

  <!-- TARJETA 3 -->
  <div
    class="educont-card"
    data-bs-toggle="modal"
    data-bs-target="#cap3Modal"
    style="cursor: pointer"
  >
    <div class="educont-card__media">
      <img
        src="/images/proni3.jpg"
        alt="Taller 3"
        class="educont-card__img"
        style="border: 1px solid #70a341"
      />
    </div>
    <div class="educont-card__body">
      <h5>Aprendizaje basado en proyectos</h5>
    </div>
  </div>

  <!-- TARJETA 4 -->
  <div
    class="educont-card"
    data-bs-toggle="modal"
    data-bs-target="#cap4Modal"
    style="cursor: pointer"
  >
    <div class="educont-card__media">
      <img
        src="/images/proni4.jpg"
        alt="Taller 4"
        class="educont-card__img"
        style="border: 1px solid #70a341"
      />
    </div>
    <div class="educont-card__body">
      <h5>Aprendizaje - Servicio en educación básica</h5>
    </div>
  </div>

  <!-- TARJETA 5 -->
  <div
    class="educont-card"
    data-bs-toggle="modal"
    data-bs-target="#cap5Modal"
    style="cursor: pointer"
  >
    <div class="educont-card__media">
      <img
        src="/images/proni5.jpg"
        alt="Taller 5"
        class="educont-card__img"
        style="border: 1px solid #70a341"
      />
    </div>
    <div class="educont-card__body">
      <h5>Metodología STEAM en el aula EFL</h5>
    </div>
  </div>

  <!-- TARJETA 6 -->
  <div
    class="educont-card"
    data-bs-toggle="modal"
    data-bs-target="#cap6Modal"
    style="cursor: pointer"
  >
    <div class="educont-card__media">
      <img
        src="/images/proni6.jpg"
        alt="Taller 6"
        class="educont-card__img"
        style="border: 1px solid #70a341"
      />
    </div>
    <div class="educont-card__body">
      <h5>
        CLIL (Aprendizaje Integrado de contenidos y Lengua) en EFL en educación
        básica
      </h5>
    </div>
  </div>

  <!-- TARJETA 7 -->
  <div
    class="educont-card"
    data-bs-toggle="modal"
    data-bs-target="#cap7Modal"
    style="cursor: pointer"
  >
    <div class="educont-card__media">
      <img
        src="/images/proni7.jpg"
        alt="Taller 7"
        class="educont-card__img"
        style="border: 1px solid #70a341"
      />
    </div>
    <div class="educont-card__body">
      <h5>Desarrollo de habilidades de expresión oral y pensamiento crítico</h5>
    </div>
  </div>

  <!-- TARJETA 8 -->
  <div
    class="educont-card"
    data-bs-toggle="modal"
    data-bs-target="#cap8Modal"
    style="cursor: pointer"
  >
    <div class="educont-card__media">
      <img
        src="/images/proni8.jpg"
        alt="Taller 8"
        class="educont-card__img"
        style="border: 1px solid #70a341"
      />
    </div>
    <div class="educont-card__body">
      <h5>Pronunciación en el aula EFL en educación básica</h5>
    </div>
  </div>

  <!-- TARJETA 9 -->
  <div
    class="educont-card"
    data-bs-toggle="modal"
    data-bs-target="#cap9Modal"
    style="cursor: pointer"
  >
    <div class="educont-card__media">
      <img
        src="/images/proni9.jpg"
        alt="Taller 9"
        class="educont-card__img"
        style="border: 1px solid #70a341"
      />
    </div>
    <div class="educont-card__body">
      <h5>Diseño Universal para el aprendizaje (DUA) en el aula EFL</h5>
    </div>
  </div>

  <!-- TARJETA 10 -->
  <div
    class="educont-card"
    data-bs-toggle="modal"
    data-bs-target="#cap10Modal"
    style="cursor: pointer"
  >
    <div class="educont-card__media">
      <img
        src="/images/proni10.jpg"
        alt="Taller 10"
        class="educont-card__img"
        style="border: 1px solid #70a341"
      />
    </div>
    <div class="educont-card__body">
      <h5>El uso de la literatura en el aula de EFL en educación básica</h5>
    </div>
  </div>

  <!-- TARJETA 11 -->
  <div
    class="educont-card"
    data-bs-toggle="modal"
    data-bs-target="#cap11Modal"
    style="cursor: pointer"
  >
    <div class="educont-card__media">
      <img
        src="/images/proni11.jpg"
        alt="Taller 11"
        class="educont-card__img"
        style="border: 1px solid #70a341"
      />
    </div>
    <div class="educont-card__body">
      <h5>
        Habilidades de pensamiento crítico en el aula de EFL en educación básica
      </h5>
    </div>
  </div>

  <!-- TARJETA 12 -->
  <div
    class="educont-card"
    data-bs-toggle="modal"
    data-bs-target="#cap12Modal"
    style="cursor: pointer"
  >
    <div class="educont-card__media">
      <img
        src="/images/proni12.jpg"
        alt="Taller 12"
        class="educont-card__img"
        style="border: 1px solid #70a341"
      />
    </div>
    <div class="educont-card__body">
      <h5>
        El juego como medio de aprendizaje en el aula de EFL en educación básica
      </h5>
    </div>
  </div>

  <!-- TARJETA 13 -->
  <div
    class="educont-card"
    data-bs-toggle="modal"
    data-bs-target="#cap13Modal"
    style="cursor: pointer"
  >
    <div class="educont-card__media">
      <img
        src="/images/proni13.jpg"
        alt="Taller 13"
        class="educont-card__img"
        style="border: 1px solid #70a341"
      />
    </div>
    <div class="educont-card__body">
      <h5>Aprendizaje y motivación en el aula EFL</h5>
    </div>
  </div>

  <!-- TARJETA 14 -->
  <div
    class="educont-card"
    data-bs-toggle="modal"
    data-bs-target="#cap14Modal"
    style="cursor: pointer"
  >
    <div class="educont-card__media">
      <img
        src="/images/proni14.jpg"
        alt="Taller 14"
        class="educont-card__img"
        style="border: 1px solid #70a341"
      />
    </div>
    <div class="educont-card__body">
      <h5>Curación de contenidos de EFL para la educación básica</h5>
    </div>
  </div>

  <!-- TARJETA 15 -->
  <div
    class="educont-card"
    data-bs-toggle="modal"
    data-bs-target="#cap15Modal"
    style="cursor: pointer"
  >
    <div class="educont-card__media">
      <img
        src="/images/proni15.jpg"
        alt="Taller 15"
        class="educont-card__img"
        style="border: 1px solid #70a341"
      />
    </div>
    <div class="educont-card__body">
      <h5>Diseño de material didáctico para educación básica</h5>
    </div>
  </div>

  <!-- TARJETA 16 -->
  <div
    class="educont-card"
    data-bs-toggle="modal"
    data-bs-target="#cap16Modal"
    style="cursor: pointer"
  >
    <div class="educont-card__media">
      <img
        src="/images/proni16.jpg"
        alt="Taller 16"
        class="educont-card__img"
        style="border: 1px solid #70a341"
      />
    </div>
    <div class="educont-card__body">
      <h5>
        Seminario de actualización sobre la Nueva Escuela Mexicana y Programa
        Nacional de Inglés
      </h5>
    </div>
  </div>

  <!-- TARJETA 17 -->
  <div
    class="educont-card"
    data-bs-toggle="modal"
    data-bs-target="#cap17Modal"
    style="cursor: pointer"
  >
    <div class="educont-card__media">
      <img
        src="/images/proni17.jpg"
        alt="Taller 17"
        class="educont-card__img"
        style="border: 1px solid #70a341"
      />
    </div>
    <div class="educont-card__body">
      <h5>Evaluación del aprendizaje en EFL</h5>
    </div>
  </div>

  <!-- TARJETA 18 -->
  <div
    class="educont-card"
    data-bs-toggle="modal"
    data-bs-target="#cap18Modal"
    style="cursor: pointer"
  >
    <div class="educont-card__media">
      <img
        src="/images/proni18.jpg"
        alt="Taller 18"
        class="educont-card__img"
        style="border: 1px solid #70a341"
      />
    </div>
    <div class="educont-card__body">
      <h5>Ciudadanía digital en el aula de EFL</h5>
    </div>
  </div>

  <!-- TARJETA 19 -->
  <div
    class="educont-card"
    data-bs-toggle="modal"
    data-bs-target="#cap19Modal"
    style="cursor: pointer"
  >
    <div class="educont-card__media">
      <img
        src="/images/proni19.jpg"
        alt="Taller 19"
        class="educont-card__img"
        style="border: 1px solid #70a341"
      />
    </div>
    <div class="educont-card__body">
      <h5>Gamificación en el aula EFL</h5>
    </div>
  </div>

  <!-- TARJETA 20 -->
  <div
    class="educont-card"
    data-bs-toggle="modal"
    data-bs-target="#cap20Modal"
    style="cursor: pointer"
  >
    <div class="educont-card__media">
      <img
        src="/images/proni20.jpg"
        alt="Taller 20"
        class="educont-card__img"
        style="border: 1px solid #70a341"
      />
    </div>
    <div class="educont-card__body">
      <h5>Habilidades digitales para docentes</h5>
    </div>
  </div>

  <!-- TARJETA 21 -->
  <div
    class="educont-card"
    data-bs-toggle="modal"
    data-bs-target="#cap21Modal"
    style="cursor: pointer"
  >
    <div class="educont-card__media">
      <img
        src="/images/proni21.jpg"
        alt="Taller 21"
        class="educont-card__img"
        style="border: 1px solid #70a341"
      />
    </div>
    <div class="educont-card__body">
      <h5>
        Herramientas digitales para la educación e inteligencia artificial
      </h5>
    </div>
  </div>

  <!-- TARJETA 22 -->
  <div
    class="educont-card"
    data-bs-toggle="modal"
    data-bs-target="#cap22Modal"
    style="cursor: pointer"
  >
    <div class="educont-card__media">
      <img
        src="/images/proni22.jpg"
        alt="Taller 22"
        class="educont-card__img"
        style="border: 1px solid #70a341"
      />
    </div>
    <div class="educont-card__body">
      <h5>
        Taller de actualización académica enfocado en el diseño y elaboración de
        material didáctico para la enseñanza del idioma inglés en nivel primaria
      </h5>
    </div>
  </div>

  <!-- TARJETA 23 -->
  <div
    class="educont-card"
    data-bs-toggle="modal"
    data-bs-target="#cap23Modal"
    style="cursor: pointer"
  >
    <div class="educont-card__media">
      <img
        src="/images/proni23.jpg"
        alt="Taller 23"
        class="educont-card__img"
        style="border: 1px solid #70a341"
      />
    </div>
    <div class="educont-card__body">
      <h5>
        Jornada de actualización académica enfocada en la enseñanza del idioma
        inglés a través de proyectos y su evaluación, en el marco de la NEM
      </h5>
    </div>
  </div>

  <!-- TARJETA 24 -->
  <div
    class="educont-card"
    data-bs-toggle="modal"
    data-bs-target="#cap24Modal"
    style="cursor: pointer"
  >
    <div class="educont-card__media">
      <img
        src="/images/proni24.jpg"
        alt="Taller 24"
        class="educont-card__img"
        style="border: 1px solid #70a341"
      />
    </div>
    <div class="educont-card__body">
      <h5>
        Capacitación para la incorporación de la Inteligencia Artificial
        aplicada a la enseñanza
      </h5>
    </div>
  </div>

  <!-- TARJETA 25 -->
  <div
    class="educont-card"
    data-bs-toggle="modal"
    data-bs-target="#cap25Modal"
    style="cursor: pointer"
  >
    <div class="educont-card__media">
      <img
        src="/images/proni25.jpg"
        alt="Taller 25"
        class="educont-card__img"
        style="border: 1px solid #70a341"
      />
    </div>
    <div class="educont-card__body">
      <h5>
        Taller académico sobre herramientas virtuales y habilidades digitales
        para la enseñanza del idioma inglés
      </h5>
    </div>
  </div>

  <!-- TARJETA 26 -->
  <div
    class="educont-card"
    data-bs-toggle="modal"
    data-bs-target="#cap26Modal"
    style="cursor: pointer"
  >
    <div class="educont-card__media">
      <img
        src="/images/proni26.jpg"
        alt="Taller 26"
        class="educont-card__img"
        style="border: 1px solid #70a341"
      />
    </div>
    <div class="educont-card__body">
      <h5>Práctica docente reflexiva</h5>
    </div>
  </div>
</div>

<!------------------------ ——— MODALES ——— ----------------------------------------->

<!-- Modal 1 -->
<div
  class="modal fade"
  id="cap1Modal"
  tabindex="-1"
  aria-labelledby="cap1ModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg modal-dialog-centered">
    <div
      class="modal-content"
      style="border: 3px solid #70a341; border-radius: 1rem"
    >
      <div class="modal-body p-4">
        <div class="row align-items-center">
          <div class="col-md-5">
            <img
              src="/images/proni1.jpg"
              alt="Taller 1"
              class="img-fluid rounded"
            />
          </div>
          <div class="col-md-7">
            <p id="cap1ModalLabel" class="fs-5 text-primary">
              Taller para fortalecer y reforzar las habilidades de Lectura y
              Comprensión Auditiva para la enseñanza del Idioma Inglés
            </p>
            <p class="fw-bold">Objetivo general</p>
            <p style="text-align: justify">
              Objetivo de aprendizaje: Instruir, actualizar y reforzar las
              habilidades académicas de una manera integral de los docentes de
              educación básica que imparten la materia de inglés, para promover
              la lectura y comprensión auditiva para la enseñanza del idioma
              inglés, dirigido en tres niveles: preescolar, primaria y
              secundaria. Encaminado al desarrollo profesional continúo y
              fortalecimiento académico para el mejoramiento integral del
              proceso de enseñanza-aprendizaje del idioma inglés, así como su
              enfoque transversal, además de su relación con otras materias del
              currículum y de los planes y programas de estudio vigentes.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal 2 -->
<div
  class="modal fade"
  id="cap2Modal"
  tabindex="-1"
  aria-labelledby="cap2ModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg modal-dialog-centered">
    <div
      class="modal-content"
      style="border: 3px solid #70a341; border-radius: 1rem"
    >
      <div class="modal-body p-4">
        <div class="row align-items-center">
          <div class="col-md-5">
            <img
              src="/images/proni2.jpg"
              alt="Taller 2"
              class="img-fluid rounded"
            />
          </div>
          <div class="col-md-7">
            <p id="cap2ModalLabel" class="fs-5 text-primary">
              Taller de elaboración de material didáctico (PRONI)
            </p>
            <p class="fw-bold">Objetivo general</p>
            <p style="text-align: justify">
              Desarrollar las habilidades del personal docente para diseñar,
              adaptar y evaluar materiales didácticos innovadores y funcionales
              en la enseñanza del inglés a niñas, niños y adolescentes. A través
              de estrategias prácticas, el curso promueve la creación de
              recursos atractivos, pertinentes y accesibles, considerando la
              edad, el nivel lingüístico y la diversidad del alumnado. Se
              fomenta el uso creativo de tecnologías educativas, el trabajo
              colaborativo y la reflexión crítica para mejorar el aprendizaje y
              fortalecer los propósitos del Programa Nacional de Inglés (PRONI).
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal 3 -->
<div
  class="modal fade"
  id="cap3Modal"
  tabindex="-1"
  aria-labelledby="cap3ModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg modal-dialog-centered">
    <div
      class="modal-content"
      style="border: 3px solid #70a341; border-radius: 1rem"
    >
      <div class="modal-body p-4">
        <div class="row align-items-center">
          <div class="col-md-5">
            <img
              src="/images/proni3.jpg"
              alt="Taller 3"
              class="img-fluid rounded"
            />
          </div>
          <div class="col-md-7">
            <p id="cap3ModalLabel" class="fs-5 text-primary">
              Aprendizaje basado en proyectos
            </p>
            <p class="fw-bold">Objetivo general</p>
            <p style="text-align: justify">
              Adquirir los conocimientos y habilidades necesarios para
              implementar de manera efectiva el Aprendizaje Basado en Proyectos
              (ABP) en el aula, fomentando la participación del alumnado, la
              adquisición del lenguaje y el pensamiento crítico.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal 4 -->
<div
  class="modal fade"
  id="cap4Modal"
  tabindex="-1"
  aria-labelledby="cap4ModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg modal-dialog-centered">
    <div
      class="modal-content"
      style="border: 3px solid #70a341; border-radius: 1rem"
    >
      <div class="modal-body p-4">
        <div class="row align-items-center">
          <div class="col-md-5">
            <img
              src="/images/proni4.jpg"
              alt="Taller 4"
              class="img-fluid rounded"
            />
          </div>
          <div class="col-md-7">
            <p id="cap4ModalLabel" class="fs-5 text-primary">
              Aprendizaje - Servicio en educación básica
            </p>
            <p class="fw-bold">Objetivo general</p>
            <p style="text-align: justify">
              Adquirir los conocimientos, habilidades y estrategias para
              implementar de manera efectiva la metodología de
              aprendizaje-servicio, mejorando la adquisición del idioma y
              fomentando al mismo tiempo el compromiso cívico y la participación
              comunitaria entre los estudiantes
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal 5 -->
<div
  class="modal fade"
  id="cap5Modal"
  tabindex="-1"
  aria-labelledby="cap5ModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg modal-dialog-centered">
    <div
      class="modal-content"
      style="border: 3px solid #70a341; border-radius: 1rem"
    >
      <div class="modal-body p-4">
        <div class="row align-items-center">
          <div class="col-md-5">
            <img
              src="/images/proni5.jpg"
              alt="Taller 5"
              class="img-fluid rounded"
            />
          </div>
          <div class="col-md-7">
            <p
              id="cap5ModalLabel"
              class="fs-5 text-primary lh-sm"
              style="text-align: justify"
            >
              Metodología STEAM en el aula EFL
            </p>
            <p class="fw-bold">Objetivo general</p>
            <p style="text-align: justify">
              Adquirir los conocimientos, habilidades y recursos para apoyar la
              implementación de manera efectiva de las metodología STEAM
              (Ciencia, Tecnología, Ingeniería, Arte y Matemáticas) en el aula
              de inglés, fomentando un entorno de aprendizaje atractivo e
              integral.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal 6 -->
<div
  class="modal fade"
  id="cap6Modal"
  tabindex="-1"
  aria-labelledby="cap6ModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg modal-dialog-centered">
    <div
      class="modal-content"
      style="border: 3px solid #70a341; border-radius: 1rem"
    >
      <div class="modal-body p-4">
        <div class="row align-items-center">
          <div class="col-md-5">
            <img
              src="/images/proni6.jpg"
              alt="Taller 6"
              class="img-fluid rounded"
            />
          </div>
          <div class="col-md-7">
            <p
              id="cap6ModalLabel"
              class="fs-5 text-primary lh-sm"
              style="text-align: justify"
            >
              CLIL (Aprendizaje Integrado de contenidos y Lengua) en EFL en
              educación básica
            </p>
            <p class="fw-bold">Objetivo general</p>
            <p style="text-align: justify">
              Adquirir los conocimientos, habilidades y estrategias necesarias
              para implementar de manera efectiva el CLIL (Aprendizaje Integrado
              de Contenidos y Lengua) en el aula, mejorando tanto la competencia
              lingüística como la comprensión del contenido.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal 7 -->
<div
  class="modal fade"
  id="cap7Modal"
  tabindex="-1"
  aria-labelledby="cap7ModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg modal-dialog-centered">
    <div
      class="modal-content"
      style="border: 3px solid #70a341; border-radius: 1rem"
    >
      <div class="modal-body p-4">
        <div class="row align-items-center">
          <div class="col-md-5">
            <img
              src="/images/proni7.jpg"
              alt="Taller 7"
              class="img-fluid rounded"
            />
          </div>
          <div class="col-md-7">
            <p
              id="cap7ModalLabel"
              class="fs-5 text-primary lh-sm"
              style="text-align: justify"
            >
              Desarrollo de habilidades de expresión oral y pensamiento crítico
            </p>
            <p class="fw-bold">Objetivo general</p>
            <p style="text-align: justify">
              Adquirir estrategias para mejorar la expresión oral y promover el
              desarrollo del pensamiento crítico.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal 8 -->
<div
  class="modal fade"
  id="cap8Modal"
  tabindex="-1"
  aria-labelledby="cap8ModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg modal-dialog-centered">
    <div
      class="modal-content"
      style="border: 3px solid #70a341; border-radius: 1rem"
    >
      <div class="modal-body p-4">
        <div class="row align-items-center">
          <div class="col-md-5">
            <img
              src="/images/proni8.jpg"
              alt="Taller 8"
              class="img-fluid rounded"
            />
          </div>
          <div class="col-md-7">
            <p
              id="cap8ModalLabel"
              class="fs-5 text-primary lh-sm"
              style="text-align: justify"
            >
              Pronunciación en el aula EFL en educación básica
            </p>
            <p class="fw-bold">Objetivo general</p>
            <p style="text-align: justify">
              Equipar a los docentes de primaria del Programa Nacional de Inglés
              (PRONI) con estrategias, herramientas y conocimientos efectivos
              para mejorar la instrucción de la pronunciación de los estudiantes
              fomentando mejores habilidades de comunicación oral.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal 9 -->
<div
  class="modal fade"
  id="cap9Modal"
  tabindex="-1"
  aria-labelledby="cap9ModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg modal-dialog-centered">
    <div
      class="modal-content"
      style="border: 3px solid #70a341; border-radius: 1rem"
    >
      <div class="modal-body p-4">
        <div class="row align-items-center">
          <div class="col-md-5">
            <img
              src="/images/proni9.jpg"
              alt="Taller 9"
              class="img-fluid rounded"
            />
          </div>
          <div class="col-md-7">
            <p
              id="cap9ModalLabel"
              class="fs-5 text-primary lh-sm"
              style="text-align: justify"
            >
              Diseño Universal para el aprendizaje (DUA) en el aula EFL
            </p>
            <p class="fw-bold">Objetivo general</p>
            <p style="text-align: justify">
              Adquirir los conocimientos y habilidades para implementar los
              principios del Diseño Universal para el Aprendizaje (DUA) en sus
              aulas, fomentando ambientes de aprendizaje inclusivos y efectivos
              para todos los estudiantes.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal 10 -->
<div
  class="modal fade"
  id="cap10Modal"
  tabindex="-1"
  aria-labelledby="cap10ModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg modal-dialog-centered">
    <div
      class="modal-content"
      style="border: 3px solid #70a341; border-radius: 1rem"
    >
      <div class="modal-body p-4">
        <div class="row align-items-center">
          <div class="col-md-5">
            <img
              src="/images/proni10.jpg"
              alt="Taller 10"
              class="img-fluid rounded"
            />
          </div>
          <div class="col-md-7">
            <p
              id="cap10ModalLabel"
              class="fs-5 text-primary lh-sm"
              style="text-align: justify"
            >
              El uso de la literatura en el aula de EFL en educación básica
            </p>
            <p class="fw-bold">Objetivo general</p>
            <p style="text-align: justify">
              Adquirir los conocimientos y habilidades para incorporar de manera
              efectiva la literatura en el aula, mejorando la adquisición del
              idioma y fomentando el amor por la lectura entre los estudiantes
              del Programa Nacional de Inglés (PRONI).
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal 11 -->
<div
  class="modal fade"
  id="cap11Modal"
  tabindex="-1"
  aria-labelledby="cap11ModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg modal-dialog-centered">
    <div
      class="modal-content"
      style="border: 3px solid #70a341; border-radius: 1rem"
    >
      <div class="modal-body p-4">
        <div class="row align-items-center">
          <div class="col-md-5">
            <img
              src="/images/proni11.jpg"
              alt="Taller 11"
              class="img-fluid rounded"
            />
          </div>
          <div class="col-md-7">
            <p
              id="cap11ModalLabel"
              class="fs-5 text-primary lh-sm"
              style="text-align: justify"
            >
              Habilidades de pensamiento crítico en el aula de EFL en educación
              básica
            </p>
            <p class="fw-bold">Objetivo general</p>
            <p style="text-align: justify">
              Equipar a los docentes de primaria de Inglés como Lengua
              Extranjera (EFL) con los conocimientos, habilidades y estrategias
              necesarias para fomentar y desarrollar habilidades de pensamiento
              crítico en sus estudiantes, alineándose con los objetivos del
              Programa Nacional de Inglés (PRONI).
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal 12 -->
<div
  class="modal fade"
  id="cap12Modal"
  tabindex="-1"
  aria-labelledby="cap12ModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg modal-dialog-centered">
    <div
      class="modal-content"
      style="border: 3px solid #70a341; border-radius: 1rem"
    >
      <div class="modal-body p-4">
        <div class="row align-items-center">
          <div class="col-md-5">
            <img
              src="/images/proni12.jpg"
              alt="Taller 12"
              class="img-fluid rounded"
            />
          </div>
          <div class="col-md-7">
            <p
              id="cap12ModalLabel"
              class="fs-5 text-primary lh-sm"
              style="text-align: justify"
            >
              El juego como medio de aprendizaje en el aula de EFL en educación
              básica
            </p>
            <p class="fw-bold">Objetivo general</p>
            <p style="text-align: justify">
              Adquirir las estrategias y herramientas prácticas para incorporar
              de manera efectiva el aprendizaje basado en el juego en el aula de
              inglés como lengua extranjera (K-6), mejorando la participación de
              los estudiantes y la adquisición del lenguaje.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal 13 -->
<div
  class="modal fade"
  id="cap13Modal"
  tabindex="-1"
  aria-labelledby="cap13ModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg modal-dialog-centered">
    <div
      class="modal-content"
      style="border: 3px solid #70a341; border-radius: 1rem"
    >
      <div class="modal-body p-4">
        <div class="row align-items-center">
          <div class="col-md-5">
            <img
              src="/images/proni13.jpg"
              alt="Taller 13"
              class="img-fluid rounded"
            />
          </div>
          <div class="col-md-7">
            <p
              id="cap13ModalLabel"
              class="fs-5 text-primary lh-sm"
              style="text-align: justify"
            >
              Aprendizaje y motivación en el aula EFL
            </p>
            <p class="fw-bold">Objetivo general</p>
            <p style="text-align: justify">
              Adquirir estrategias y herramientas efectivas para fomentar la
              motivación y mejorar los resultados de aprendizaje en los salones
              de clase de K-6, alineados con los objetivos del Programa Nacional
              de Inglés (PRONI).
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal 14 -->
<div
  class="modal fade"
  id="cap14Modal"
  tabindex="-1"
  aria-labelledby="cap14ModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg modal-dialog-centered">
    <div
      class="modal-content"
      style="border: 3px solid #70a341; border-radius: 1rem"
    >
      <div class="modal-body p-4">
        <div class="row align-items-center">
          <div class="col-md-5">
            <img
              src="/images/proni14.jpg"
              alt="Taller 14"
              class="img-fluid rounded"
            />
          </div>
          <div class="col-md-7">
            <p
              id="cap14ModalLabel"
              class="fs-5 text-primary lh-sm"
              style="text-align: justify"
            >
              Curación de contenidos de EFL para la educación básica
            </p>
            <p class="fw-bold">Objetivo general</p>
            <p style="text-align: justify">
              Adquirir las habilidades y conocimientos necesarios para curar,
              adaptar y utilizar eficazmente contenido para estudiantes de
              educación básica, mejorando la calidad y el compromiso de la
              enseñanza del inglés en alineación con el Programa Nacional de
              Inglés (PRONI).
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal 15 -->
<div
  class="modal fade"
  id="cap15Modal"
  tabindex="-1"
  aria-labelledby="cap15ModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg modal-dialog-centered">
    <div
      class="modal-content"
      style="border: 3px solid #70a341; border-radius: 1rem"
    >
      <div class="modal-body p-4">
        <div class="row align-items-center">
          <div class="col-md-5">
            <img
              src="/images/proni15.jpg"
              alt="Taller 15"
              class="img-fluid rounded"
            />
          </div>
          <div class="col-md-7">
            <p
              id="cap15ModalLabel"
              class="fs-5 text-primary lh-sm"
              style="text-align: justify"
            >
              Diseño de material didáctico para educación básica
            </p>
            <p class="fw-bold">Objetivo general</p>
            <p style="text-align: justify">
              Adquirir los conocimientos y habilidades para diseñar materiales
              didácticos efectivos, atractivos y contextualmente relevantes que
              mejoren el aprendizaje del idioma inglés en el aula.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal 16 -->
<div
  class="modal fade"
  id="cap16Modal"
  tabindex="-1"
  aria-labelledby="cap16ModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg modal-dialog-centered">
    <div
      class="modal-content"
      style="border: 3px solid #70a341; border-radius: 1rem"
    >
      <div class="modal-body p-4">
        <div class="row align-items-center">
          <div class="col-md-5">
            <img
              src="/images/proni16.jpg"
              alt="Taller 16"
              class="img-fluid rounded"
            />
          </div>
          <div class="col-md-7">
            <p
              id="cap16ModalLabel"
              class="fs-5 text-primary lh-sm"
              style="text-align: justify"
            >
              Seminario de actualización sobre la Nueva Escuela Mexicana y
              Programa Nacional de Inglés
            </p>
            <p class="fw-bold">Objetivo general</p>
            <p style="text-align: justify">
              Actualizar y equipar a los docentes de inglés como lengua
              extranjera (EFL) de primaria con conocimientos integrales y
              habilidades prácticas para implementar los principios de la Nueva
              Escuela Mexicana (NEM) y el Programa Nacional de Inglés (PRONI),
              mejorando su capacidad para fomentar un ambiente de aprendizaje
              integrador y efectivo
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal 17 -->
<div
  class="modal fade"
  id="cap17Modal"
  tabindex="-1"
  aria-labelledby="cap17ModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg modal-dialog-centered">
    <div
      class="modal-content"
      style="border: 3px solid #70a341; border-radius: 1rem"
    >
      <div class="modal-body p-4">
        <div class="row align-items-center">
          <div class="col-md-5">
            <img
              src="/images/proni17.jpg"
              alt="Taller 17"
              class="img-fluid rounded"
            />
          </div>
          <div class="col-md-7">
            <p
              id="cap17ModalLabel"
              class="fs-5 text-primary lh-sm"
              style="text-align: justify"
            >
              Evaluación del aprendizaje en EFL
            </p>
            <p class="fw-bold">Objetivo general</p>
            <p style="text-align: justify">
              Adquirir los conocimientos y habilidades para evaluar de manera
              efectiva el aprendizaje del idioma en sus aulas, alineándose con
              los principios de la Nueva Escuela Mexicana y adaptándose a los
              diversos contextos educativos de México.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal 18 -->
<div
  class="modal fade"
  id="cap18Modal"
  tabindex="-1"
  aria-labelledby="cap18ModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg modal-dialog-centered">
    <div
      class="modal-content"
      style="border: 3px solid #70a341; border-radius: 1rem"
    >
      <div class="modal-body p-4">
        <div class="row align-items-center">
          <div class="col-md-5">
            <img
              src="/images/proni18.jpg"
              alt="Taller 18"
              class="img-fluid rounded"
            />
          </div>
          <div class="col-md-7">
            <p
              id="cap18ModalLabel"
              class="fs-5 text-primary lh-sm"
              style="text-align: justify"
            >
              Ciudadanía digital en el aula de EFL
            </p>
            <p class="fw-bold">Objetivo general</p>
            <p style="text-align: justify">
              Adquirir los conocimientos, habilidades y estrategias para
              fomentar la ciudadanía digital entre sus estudiantes, integrando
              la alfabetización digital y el comportamiento responsable en línea
              en el proceso de aprendizaje del idioma inglés.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal 19 -->
<div
  class="modal fade"
  id="cap19Modal"
  tabindex="-1"
  aria-labelledby="cap19ModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg modal-dialog-centered">
    <div
      class="modal-content"
      style="border: 3px solid #70a341; border-radius: 1rem"
    >
      <div class="modal-body p-4">
        <div class="row align-items-center">
          <div class="col-md-5">
            <img
              src="/images/proni19.jpg"
              alt="Taller 19"
              class="img-fluid rounded"
            />
          </div>
          <div class="col-md-7">
            <p
              id="cap19ModalLabel"
              class="fs-5 text-primary lh-sm"
              style="text-align: justify"
            >
              Gamificación en el aula EFL
            </p>
            <p class="fw-bold">Objetivo general</p>
            <p style="text-align: justify">
              Adquirir los conocimientos y habilidades necesarios para integrar
              eficazmente la gamificación en sus aulas, mejorando la
              participación de los estudiantes y la adquisición del lenguaje.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal 20 -->
<div
  class="modal fade"
  id="cap20Modal"
  tabindex="-1"
  aria-labelledby="cap20ModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg modal-dialog-centered">
    <div
      class="modal-content"
      style="border: 3px solid #70a341; border-radius: 1rem"
    >
      <div class="modal-body p-4">
        <div class="row align-items-center">
          <div class="col-md-5">
            <img
              src="/images/proni20.jpg"
              alt="Taller 20"
              class="img-fluid rounded"
            />
          </div>
          <div class="col-md-7">
            <p
              id="cap20ModalLabel"
              class="fs-5 text-primary lh-sm"
              style="text-align: justify"
            >
              Habilidades digitales para docentes
            </p>
            <p class="fw-bold">Objetivo general</p>
            <p style="text-align: justify">
              Adquirir las habilidades digitales esenciales para mejorar la
              práctica docente, fomentando un entorno de aprendizaje más
              atractivo, interactivo y efectivo para los estudiantes.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal 21 -->
<div
  class="modal fade"
  id="cap21Modal"
  tabindex="-1"
  aria-labelledby="cap21ModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg modal-dialog-centered">
    <div
      class="modal-content"
      style="border: 3px solid #70a341; border-radius: 1rem"
    >
      <div class="modal-body p-4">
        <div class="row align-items-center">
          <div class="col-md-5">
            <img
              src="/images/proni21.jpg"
              alt="Taller 21"
              class="img-fluid rounded"
            />
          </div>
          <div class="col-md-7">
            <p
              id="cap21ModalLabel"
              class="fs-5 text-primary lh-sm"
              style="text-align: justify"
            >
              Herramientas digitales para la educación e inteligencia artificial
            </p>
            <p class="fw-bold">Objetivo general</p>
            <p style="text-align: justify">
              Adquirir conocimientos y habilidades prácticas para integrar
              eficazmente herramientas digitales gratuitas y tecnologías de IA
              en sus prácticas docentes, mejorando la participación de los
              estudiantes y los resultados de aprendizaje.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal 22 -->
<div
  class="modal fade"
  id="cap22Modal"
  tabindex="-1"
  aria-labelledby="cap22ModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg modal-dialog-centered">
    <div
      class="modal-content"
      style="border: 3px solid #70a341; border-radius: 1rem"
    >
      <div class="modal-body p-4">
        <div class="row align-items-center">
          <div class="col-md-5">
            <img
              src="/images/proni22.jpg"
              alt="Taller 22"
              class="img-fluid rounded"
            />
          </div>
          <div class="col-md-7">
            <p
              id="cap22ModalLabel"
              class="fs-5 text-primary lh-sm"
              style="text-align: justify"
            >
              Taller de actualización académica enfocado en el diseño y
              elaboración de material didáctico para la enseñanza del idioma
              inglés en nivel primaria
            </p>
            <p class="fw-bold">Objetivo general</p>
            <p style="text-align: justify">
              Fortalecer las competencias docentes mediante la actualización en
              el diseño y elaboración de material didáctico innovador y adaptado
              a las características de los estudiantes de nivel primaria, con el
              propósito de mejorar la enseñanza del idioma inglés.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal 23 -->
<div
  class="modal fade"
  id="cap23Modal"
  tabindex="-1"
  aria-labelledby="cap23ModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg modal-dialog-centered">
    <div
      class="modal-content"
      style="border: 3px solid #70a341; border-radius: 1rem"
    >
      <div class="modal-body p-4">
        <div class="row align-items-center">
          <div class="col-md-5">
            <img
              src="/images/proni23.jpg"
              alt="Taller 23"
              class="img-fluid rounded"
            />
          </div>
          <div class="col-md-7">
            <p
              id="cap23ModalLabel"
              class="fs-5 text-primary lh-sm"
              style="text-align: justify"
            >
              Jornada de actualización académica enfocada en la enseñanza del
              idioma inglés a través de proyectos y su evaluación, en el marco
              de la NEM
            </p>
            <p class="fw-bold">Objetivo general</p>
            <p style="text-align: justify">
              Actualizar las competencias docentes para la enseñanza del idioma
              inglés a través de proyectos, incorporando estrategias de
              evaluación alineadas con los principios de la Nueva Escuela
              Mexicana.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal 24 -->
<div
  class="modal fade"
  id="cap24Modal"
  tabindex="-1"
  aria-labelledby="cap24ModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg modal-dialog-centered">
    <div
      class="modal-content"
      style="border: 3px solid #70a341; border-radius: 1rem"
    >
      <div class="modal-body p-4">
        <div class="row align-items-center">
          <div class="col-md-5">
            <img
              src="/images/proni24.jpg"
              alt="Taller 24"
              class="img-fluid rounded"
            />
          </div>
          <div class="col-md-7">
            <p
              id="cap24ModalLabel"
              class="fs-5 text-primary lh-sm"
              style="text-align: justify"
            >
              Capacitación para la incorporación de la Inteligencia Artificial
              aplicada a la enseñanza
            </p>
            <p class="fw-bold">Objetivo general</p>
            <p style="text-align: justify">
              Capacitar a los docentes en la aplicación de herramientas y
              tecnologías de Inteligencia Artificial para innovar en la
              enseñanza del idioma inglés, mejorando la experiencia de
              aprendizaje de sus estudiantes.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal 25 -->
<div
  class="modal fade"
  id="cap25Modal"
  tabindex="-1"
  aria-labelledby="cap25ModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg modal-dialog-centered">
    <div
      class="modal-content"
      style="border: 3px solid #70a341; border-radius: 1rem"
    >
      <div class="modal-body p-4">
        <div class="row align-items-center">
          <div class="col-md-5">
            <img
              src="/images/proni25.jpg"
              alt="Taller 25"
              class="img-fluid rounded"
            />
          </div>
          <div class="col-md-7">
            <p
              id="cap25ModalLabel"
              class="fs-5 text-primary lh-sm"
              style="text-align: justify"
            >
              Taller académico sobre herramientas virtuales y habilidades
              digitales para la enseñanza del idioma inglés
            </p>
            <p class="fw-bold">Objetivo general</p>
            <p style="text-align: justify">
              Fortalecer las competencias digitales de los docentes mediante la
              capacitación en el uso de herramientas virtuales y el desarrollo
              de habilidades digitales aplicadas a la enseñanza del idioma
              inglés.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal 26 -->
<div
  class="modal fade"
  id="cap26Modal"
  tabindex="-1"
  aria-labelledby="cap26ModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg modal-dialog-centered">
    <div
      class="modal-content"
      style="border: 3px solid #70a341; border-radius: 1rem"
    >
      <div class="modal-body p-4">
        <div class="row align-items-center">
          <div class="col-md-5">
            <img
              src="/images/proni26.jpg"
              alt="Taller 26"
              class="img-fluid rounded"
            />
          </div>
          <div class="col-md-7">
            <p
              id="cap26ModalLabel"
              class="fs-5 text-primary lh-sm"
              style="text-align: justify"
            >
              Práctica docente reflexiva
            </p>
            <p class="fw-bold">Objetivo general</p>
            <p style="text-align: justify">
              Fortalecer el desarrollo profesional de los docentes mediante el
              cultivo una práctica reflexiva que mejore las estrategias de
              instrucción y los resultados de aprendizaje de los estudiantes.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
