/* 1) Elimina el padding vertical de la barra */
.navbar {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  min-height: 60px; /* igual a la altura de tu logo */
}

/* 2) Quita el padding interno del brand */
.navbar-brand {
  padding: 0 !important;
  display: block; /* para que img pueda llenar todo */
}

/* 3) Haz que el logo llene el alto completo de la navbar */
.navbar-brand img {
  display: block;
  height: 60px; /* fuerza 60px de alto */
  width: auto;
}

.navbar-light .nav-link {
  color: #1b264f;
  font-weight: 600;
  font-size: 1.15rem;
}
.navbar-light .nav-link:hover,
.navbar-light .nav-link.active {
  background: rgba(141, 198, 63, 0.1);
  border: 2px solid #8dc63f;
  border-radius: 0.25rem;
  color: #8dc63f !important;
}
.navbar-light .nav-link.active {
  background: rgba(141, 198, 63, 0.1);
  border: 2px solid #8dc63f;
  border-radius: 0.25rem;
  color: #8dc63f !important;
}
